<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">



p {
  color : blue;
} 

nav{
  background-color:peachpuff;
  width: 50%;
  text-align: center;
}


$brown: #c47a53;

body {
  background-color: $brown;
}
